# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
.env
.env.*
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
/media
/staticfiles

# Editor
.vscode/
.idea/
.DS_Store

# OS
*.bak
*.swp
